
.header{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(224, 220, 214);
}
.header a:link, a:visited {
    text-decoration: none;
    color:rgb(58, 56, 56);
    font-size: 28px;

}

li{
    display: inline-block;
    margin: 10px 10px;
    padding-right: 10px;
}
.kontakt{
    
    padding-top: 30px;
}
.lokacija{
    padding-top: 30px;
}
iframe{
    margin-bottom: 200px;
}
footer{
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(224, 220, 214);
}
